{% extends "base.html" %}
{% load static %}
{% block title %} Login {% endblock %}
{% block page_content %}
<div class="container">
<h2>Login</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Login">
    <a href="{% url 'cars' %}">Back to Home page</a>
</form>
<a class="btn btn-dark" href="{% url 'social:begin' 'github' %}">GitHub</a>
<a class="btn btn-danger" href="{% url 'social:begin' 'google-oauth2' %}">Google+</a>
<a class="btn btn-secondary" href="{% url 'register' %}">Register</a>
<a class="btn btn-info" href="{% url 'password_reset' %}">Reset password</a>
</div>

{% endblock %}
